NEXT_PUBLIC_COMPANY_NAME=Umzuger ltd
NEXT_PUBLIC_COMPANY_NAME_SOCIAL=umzugerltd
NEXT_PUBLIC_COMPANY_ADDRESS=Mountain View, CA 94043
NEXT_PUBLIC_COMPANY_EMAIL=x@email.com
NEXT_PUBLIC_COMPANY_PHONE=+49123456789
NEXT_PUBLIC_COMPANY_WHATSAPP=+49123456789