RESEND_API_KEY=
RECIPIENT_EMAIL=

COMPANY_NAME=Umzuger ltd
COMPANY_NAME_SOCIAL=umzugerltd
COMPANY_ADDRESS=Mountain View, CA 94043
COMPANY_EMAIL=x@email.com
COMPANY_PHONE=+49123456789
COMPANY_WHATSAPP=+49123456789