:root {
  --background: #ffffff;
  --foreground: #272937;
  --secondary: #6e6e6e;
  --secondary-light: #b5b5b5;
  --secondary-light1: #d9d9d9;
  --accent: #9322c5;
  --accent-rgb: 147, 34, 197;
  --accent-dark: #611f69;
  --accent-dark-rgb: 97, 31, 105;

  --warning: #fcc003;
  --warning-rgb: 225, 192, 3;
  --danger: #ff5a5a;
  --danger-rgb: 225, 90, 90;
  --success: #41b658;
  --success-rgb: 65, 182, 88;
  --info: #1ab9ff;
  --info-rgb: 26, 185, 255;
  --fb-color: #f2f4f7;
}

html {
  background-color: rgba(var(--accent-rgb), 0.05);
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 26px;
}

.children {
  min-height: 90vh;
}

/*  */
/*  */
/* classes */
.flex {
  display: flex;
}
.secondary-color {
  color: var(--secondary);
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
@media screen and (max-width: 1059px) and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
}
/* <=phone */
@media screen and (max-width: 767px) {
}
