.introSection {
  background: rgba(var(--accent-rgb), 0.05);
  padding: 24px;
  /* border-bottom: 2px solid var(--accent-dark); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.block {
  padding: 8px 24px;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  background-color: #fff;
  height: fit-content;
}
.introSectionTitle p {
  color: var(--secondary);
}
.introSectionBottom {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  min-height: 120px;
}
.firstBlock {
  position: relative;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}
.firstBlock svg {
  position: absolute;
  bottom: -14px;
  right: -24px;
}

.page {
  /* border: 1px solid red; */
}
.roundTop {
  position: relative;
  /* border: 1px solid deeppink; */
}

.roundTop svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pageContainer {
  max-width: 1200px;
  margin-inline: auto;
}

/*  */
/*  */
/*  */
.transportImage {
  display: flex;
  justify-content: center;
}
.transportImage img {
  max-width: 700px;
  height: auto;
}

/*  */
/* contact us section */
.contactSection {
  padding: 34px 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.contactSectionInfo {
  margin-top: 24px;
  border: 1px solid #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 34px 24px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}
.contactSectionInfo div h3 {
  gap: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f2f2f2;
  width: fit-content;
}
.contactSectionInfo .contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactSectionInfo .contact a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 0;
}

.contactSectionInfo .contact a:hover {
  background-color: #f2f2f2;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
@media screen and (max-width: 1059px) and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
}
/* <=phone */
@media screen and (max-width: 767px) {
  .introSection {
    padding: 38px 24px 0 24px;
  }
  .introSectionTitle h1 {
    font-size: 24px;
  }
  .introSectionBottom {
    gap: 12px;
    padding: 18px 0;
    width: 100%;
  }
  .block {
    padding: 8px;
  }
  .transportImage img {
    max-width: 350px;
  }

  .contactSectionInfo {
    border-radius: 0;
    gap: 46px;
    border: none;
  }

  .contactSectionInfo div {
    width: 100%;
  }
  .contactSectionInfo .contact a {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    padding: 18px 12px;
    border-radius: 12px;
  }
}
