.introSection {
  background: rgba(var(--accent-rgb), 0.05);
  padding: 24px;
  /* border-bottom: 2px solid var(--accent-dark); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.block {
  padding: 8px 24px;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  background-color: #fff;
  height: fit-content;
}
.introSectionTitle {
}
.introSectionBottom {
  display: flex;
  gap: 120px;
  min-height: 120px;
}
.firstBlock {
  position: relative;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}
.firstBlock svg {
  position: absolute;
  bottom: -14px;
  right: -24px;
}

.page {
  /* border: 1px solid red; */
}
.roundTop {
  position: relative;
  /* border: 1px solid deeppink; */
}

.roundTop svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pageContainer {
  max-width: 1200px;
  margin-inline: auto;
}

.formSection {
  padding: 24px 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.form {
  margin-top: 15px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 24px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}
.inputs {
  display: flex;
  gap: 12px;
}

/* input with icon */
.iconedInput {
  position: relative;
  display: flex;
}
.iconedInput input {
  padding-left: 24px;
}
.iconedInput img {
  height: 14px;
  pointer-events: none;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.contactSection {
  padding: 34px 0;
  min-height: 300px;
}
