.formSection {
  padding: 24px 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.form {
  margin-top: 25px !important;
  border-radius: 12px;
  padding: 16px 12px !important;
  display: flex;
  justify-content: center;
  gap: 14px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}
.inputs {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .formSection {
    border-radius: 0;
    padding-bottom: 0;
  }
  .formSection p {
    display: flex;
    padding: 8px;
    text-align: center;
  }
  .form {
    flex-wrap: wrap;
    border-radius: 0;
    margin-top: 0;
    box-shadow: none;
    padding: 0;
  }
  .inputs {
    padding: 0px 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
