.formSection {
  padding: 24px 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.form {
  margin-top: 15px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 24px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}
.inputs {
  display: flex;
  gap: 12px;
}

/* input with icon */
.iconedInput {
  position: relative;
  display: flex;
}
.iconedInput input {
  padding-left: 24px;
}
.iconedInput img {
  width: 20px;
  height: auto;
  height: 14px;
  pointer-events: none;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .formSection {
    border-radius: 0;
    padding-bottom: 0;
  }
  .formSection p {
    display: flex;
    padding: 8px;
    text-align: center;
  }
  .form {
    flex-wrap: wrap;
    border-radius: 0;
    margin-top: 0;
    box-shadow: none;
    padding: 0;
  }
  .inputs {
    padding: 0px 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .iconedInput input {
    padding: 22px 0px 24px 24px;
  }
}
