.footer {
  padding: 12px 0;
  box-shadow: 0 0px 32px rgba(0, 0, 0, 0.07);
  margin-top: 32px;
}

.footerContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
}

.footerContainer img {
  width: 100px;
  height: auto;
}

.dev {
  display: flex;
  align-items: center;
  background-color: rgb(92, 92, 92);
  border-radius: 22px;
  padding: 5px 18px;
  gap: 6px;
  color: #fff;
  font-size: 12px;
  transition: all 0.1s ease-in-out;
}
.dev svg {
  width: 24px;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.dev:hover {
  padding: 5px 24px;
  background-color: rgb(101, 101, 101);
  gap: 0;
  border-radius: 8px;
}
.dev:hover svg {
  scale: 1.2;
  transform: translateX(-8px);
}

.separator {
  margin: 12px 0;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
.links {
  max-width: 1200px;
  margin-inline: auto;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.links a {
  font-size: 13px;
  text-decoration: underline;
}
.links a:hover {
  text-decoration-color: var(--warning);
}

/*  */
/*  */
@media screen and (max-width: 960px) {
  .footerContainer {
    margin: 0 18px;
  }
}
@media screen and (max-width: 767px) {
  .links {
    justify-content: center;
    flex-wrap: wrap;
  }
}
