.footer {
  background: #f2f2f2;
  padding: 12px 0;
}

.footerContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffb7;
  border-radius: 12px;
}

.footerContainer img {
  width: 100px;
  height: auto;
}

.dev {
  display: flex;
  align-items: center;
  background-color: var(--accent-dark);
  border-radius: 22px;
  padding: 5px 21px;
  gap: 6px;
  color: #fff;
  font-size: 12px;
}
.dev img {
  width: 24px;
  height: auto;
}
.dev:hover {
  background-color: rgba(var(--accent-dark-rgb), 0.8);
}

.separator {
  margin: 12px 0;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
.links {
  max-width: 1200px;
  margin-inline: auto;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.links a {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ddd;
}

/*  */
/*  */
@media screen and (max-width: 960px) {
  .footerContainer {
    margin: 0 18px;
  }
}
@media screen and (max-width: 767px) {
  .links {
    justify-content: center;
    flex-wrap: wrap;
  }
}
