.page {
  max-width: 1200px;
  margin-inline: auto;
}

.stepper {
  margin-top: 54px;
}
.stepContent {
  min-height: 400px;
  padding: 24px 8px;
}
.stepsButtons {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  margin-bottom: 24px;
}
.separator {
  display: flex;
  margin: 12px 0;
  height: 2px;
  min-width: 100px;
  background-color: #f2f2f2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
.formBox {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 54px 56px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px -6px, rgba(0, 0, 0, 0.1) 0px 2px 4px -1px; */
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
}
.formBox h2 {
  font-weight: 400;
}
.inputsGroupRow {
  display: flex;
  gap: 12px;
}
